<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>Module</string>
	<key>Description</key>
	<string>Tests Module using XPInc pattern with VIPER, composed by ViewControllerTests, PresenterTests, InteractorTests, RouterTests, ConfiguratorTests.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the scene to be created</string>
			<key>Identifier</key>
			<string>moduleName</string>
			<key>Name</key>
			<string>Scene</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>The name of the SDK where will be created</string>
			<key>Identifier</key>
			<string>sdkName</string>
			<key>Name</key>
			<string>SDK Name</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___InteractorTests.swift</string>
			<key>Description</key>
			<string>InteractorTests implementation</string>
			<key>Identifier</key>
			<string>moduleInteractorName</string>
			<key>Name</key>
			<string>InteractorTests:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___PresenterTests.swift</string>
			<key>Description</key>
			<string>Presenter implementation</string>
			<key>Identifier</key>
			<string>modulePresenterName</string>
			<key>Name</key>
			<string>PresenterTests:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___RouterTests.swift</string>
			<key>Description</key>
			<string>RouterTests implementation</string>
			<key>Identifier</key>
			<string>moduleRouterName</string>
			<key>Name</key>
			<string>RouterTests:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___ViewControllerTests.swift</string>
			<key>Description</key>
			<string>ViewControllerTests implementation</string>
			<key>Identifier</key>
			<string>moduleViewName</string>
			<key>Name</key>
			<string>ViewControllerTests</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___ConfiguratorTests.swift</string>
			<key>Description</key>
			<string>ConfiguratorTests implementation</string>
			<key>Identifier</key>
			<string>moduleViewName</string>
			<key>Name</key>
			<string>ConfiguratorTests</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>SortOrder</key>
	<string>9</string>
	<key>Summary</key>
	<string>Module using XPInc pattern with VIPER, composed by ViewControllerTests, PresenterTests, InteractorTests, RouterTests and Configurator.</string>
</dict>
</plist>
