<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>Module</string>
	<key>Description</key>
	<string>Module using XPInc pattern with VIPER, composed by View, Presenter, Interactor, Router, Configurator and Protocols.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the scene to be created</string>
			<key>Identifier</key>
			<string>moduleName</string>
			<key>Name</key>
			<string>Scene</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___Interactor.swift</string>
			<key>Description</key>
			<string>Interactor implementation</string>
			<key>Identifier</key>
			<string>moduleInteractorName</string>
			<key>Name</key>
			<string>Interactor:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___Presenter.swift</string>
			<key>Description</key>
			<string>Presenter implementation</string>
			<key>Identifier</key>
			<string>modulePresenterName</string>
			<key>Name</key>
			<string>Presenter:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___Protocols.swift</string>
			<key>Description</key>
			<string>Module protocols</string>
			<key>Identifier</key>
			<string>moduleProtocolsName</string>
			<key>Name</key>
			<string>Protocols:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___Router.swift</string>
			<key>Description</key>
			<string>Router implementation</string>
			<key>Identifier</key>
			<string>moduleRouterName</string>
			<key>Name</key>
			<string>Router:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___ViewController.swift</string>
			<key>Description</key>
			<string>ViewController implementation</string>
			<key>Identifier</key>
			<string>moduleViewName</string>
			<key>Name</key>
			<string>ViewController</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___Configurator.swift</string>
			<key>Description</key>
			<string>Configurator implementation</string>
			<key>Identifier</key>
			<string>moduleViewName</string>
			<key>Name</key>
			<string>Configurator</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>SortOrder</key>
	<string>9</string>
	<key>Summary</key>
	<string>Module using XPInc pattern with VIPER, composed by ViewController, Presenter, Interactor, Router, Configurator and Protocols.</string>
</dict>
</plist>
